.outfits_form
  .field#outfits_form
    = label_tag :'Outfit Name'
    = text_field_tag :name
    %br/
    = label_tag :Notes
    = text_field_tag :notes
    = hidden_field_tag :authenticy_token, form_authenticity_token
  .actions
    = button_tag nil, :id => 'button', :class => 'button radius tiny'