<%= form_for(@piece) do |f| %>
  <% if @piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
      <% @piece.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :image, :autofocus => 'autofocus'  %>
    <%= f.text_field :image %>
    <br>
    <%= f.label :item %>
    <%= f.text_field :item %>
    <br>
    <%= f.label :designer %>
    <%= f.text_field :designer %>
    <br>
    <%= f.label :color %>
    <%= f.text_field :color %>
    <br>
    <%= f.label :material %>
    <%= f.text_field :material %>
    <br>
    <%= f.label :fit %>
    <%= f.text_field :fit %>
    <br>
    <%= f.label :size %>
    <%= f.text_field :size %>
    <br>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <br>
    <%= f.label :notes %>
    <%= f.text_field :notes %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
